.details-container {
  align-items: center;
  display: flex;
  flex-flow: wrap column;
  padding: 0 0 50px;
}

.recipe-photo {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 350px;
}

.recipe-heading-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 10px;
  width: 300px;
}

.favorit-share-btns {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
}

.favorit-share-btns button {
  border: none;
}

.info-heading {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
}

.ingredients-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 54.38px;
}

.ingredients-container p {
  margin-left: 15px;
}

.instructions-video-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.instructions-video-container p {
  margin-left: 15px;
  text-align: justify;
  width: 95%;
}

.instructions-video-container iframe {
  margin-left: 15px;
  width: 95%;
}

.recomendations-container {
  width: 200px;
}

.start-recipe-btn {
  background-color: green;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  color: yellow;
  opacity: 0.5;
  padding: 5px 10px;
  position: fixed;
}
