.header-container {
  display: flex;
  width: 100%;
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  width: 80%;
}

.header-nav button {
  border: none;
}
