.container-mainPaige {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  flex-flow: wrap column;
  padding: 0 0 50px;
}

.container-category-buttons {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}


.container-category-buttons button {
  background-color: transparent;
  border: none;
  border-radius: 10px;

  /* box-shadow: inset 0 0 5px grey , 0 0 3px grey , 0 0 20px grey; */
  height: 25px;
  margin: 5px 0;
  transition: 0.3s;
  width: 160px;
}

.container-category-buttons button:hover {
  background-color: #3e8e41;
  color: white;
}

.container-cards {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  width: 100%;
}

a {
  color: #3e8e41;
}
